:root {
  --text-primary: #34475e;
  --text-secondary: #212838;
  --background-primary: #ffffff;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Roboto Mono", monospace;
  color: var(--text-primary);
  background-color: var(--background-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 auto 2rem auto;
  max-width: 1060px;
  padding: 0 2rem;
  flex: 1;
}

nav {
  font-weight: bold;
  margin: 2rem 0;
}

section section {
  margin-left: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  margin-bottom: 2.5rem;
  color: var(--text-secondary);
}

h1 {
  font-size: 2.25rem;
  margin-top: 9rem;
}

h2 {
  font-size: 1.75rem;
  margin-top: 8rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 7rem;
}

p {
  line-height: 2rem;
  margin: 2rem 0;
}

ul {
  list-style: none;
  padding-left: 2rem;
}

li {
  line-height: 2rem;
  margin-top: 1.5rem;
}

a {
  line-height: 2rem;
  color: var(--text-secondary);
  font-weight: bold;
}

a:link {
  color: var(--text-secondary);
}

a:visited {
  color: var(--text-secondary);
}

footer {
  text-align: center;
}
