<input type="checkbox" id="menu-toggle" class="menu-checkbox" hidden />
<header class="menu">
  <label for="menu-toggle" class="menu-btn" aria-label="Toggle menu">
    <span></span>
  </label>
  <div class="menu-overlay">
    <ul>
      <li><a href="{{ site.url }}">Home</a></li>
      {% for resource in site.data.resources %}
        {% assign resource_key = resource[0] %}
        {% assign resource_data = resource[1] %}
        <li><a href="{{ site.url }}/{{ resource_key }}/">{{ resource_data.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</header>
