{% assign settings = site.data.settings['settings'] %}

<!-- Plugins -->
<script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.validate.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.magnific-popup.js' | relative_url }}"></script>
<script src="{{ 'assets/js/imagesloaded.pkgd.js' | relative_url }}"></script>
<script src="{{ 'assets/js/isotope.pkgd.js' | relative_url }}"></script>
<script src="{{ 'assets/js/owl.carousel.js' | relative_url }}"></script>
<script src="{{ 'assets/js/typed.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/rrssb.js' | relative_url }}"></script>

<!-- Main -->
<script src="{{ 'assets/js/glitche-scripts.js' | relative_url }}"></script>

{% if settings.header == 1 %}
<script>
/* Set full height in blocks */
var height = $('header').outerHeight()
var adjustment = height + 30 // due to CSS applied to header
$('.section.spacer').css({'height': 0});
$('.section.spacer').css({'padding': 0});
</script>
{% endif %}
