* {
  overflow-wrap: anywhere;
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

html {
  font-size: 1rem;
  color-scheme: light dark;
}

body {
  font-family: "Roboto Mono", monospace;
  color: var(--color-text-base);
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 auto 2rem auto;
  max-width: 960px;
  padding: 0 2rem;
  flex: 1;
}

nav {
  font-weight: bold;
  margin: 2rem 0;
  color: var(--color-text-accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  margin-bottom: 2.5rem;
  color: var(--color-text-accent);
}

h1 {
  font-size: 2.5rem;
  margin-top: 9rem;
}

h2 {
  font-size: 2rem;
  margin-top: 8rem;
}

.resume h2 {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-text-accent);
}

h3 {
  font-size: 1.5rem;
  margin-top: 7rem;
}

h4 {
  font-size: 1.25rem;
  margin-top: 2.5rem;
}

p {
  line-height: 2rem;
  margin: 2rem 0;
}

p.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-text-accent);
}

article h2 {
  font-size: 1.25rem;
  margin: 2rem 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.content ul {
  list-style: inside;
}

li {
  line-height: 2rem;
  margin-top: 1.5rem;
}

a {
  line-height: 2rem;
  color: var(--color-text-accent);
  font-weight: bold;
}

a:link {
  color: var(--color-text-accent);
}

a:visited {
  color: var(--color-text-accent);
}

footer {
  text-align: center;
}
