---
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="/css/site.css"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<head>
<body>
  <div class="border"></div>
  <header>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
        <li id="home-menu"><a class="home" href="/">Gregory J. Scott</a></li>
        <li id="resume-menu"><a href="/resume">Resume</a></li>
        <li id="project-menu"><a href="/projects">Projects</a></li>
        <li id="language-menu"><a href="/languages">Languages</a></li>
        <li id="db-menu"><a href="/db">Databases</a></li>
      </ul>
    </div>

    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}
</body>
</html>
