---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

<div class="section spacer"></div>

<div class="section bread">
	<div class="content">
		<div class="h-subtitle typed-bread-template">
			<p><a href="{{ site.url }}">{{ ui_text.home }}</a> / <a href="{{ site.url }}/languages">Languages</a> / <a href="{{ page.url }}">{{ page.title }}</a></p>
		</div>
		<span class="typed-bread"></span>
  </div>
</div>

<div class="section title">
	<div class="content">
		<h1>{{ page.title }}</h1>
    {% if page.desc %}
    <p>{{ page.desc }}</p>
    {% endif %}
	</div>
</div>

{% if page._embedded.projects %}
<div class="section">
	<div class="content">
    <h2>Projects</h2>
    {% for item in page._embedded.projects %}
    {% include projects/summary.html project=item %}
    {% endfor %}
  </div>
</div>
{% endif %}
