---
layout: default
---
{% assign ui_text = site.data.ui-text['ui_text'] %}

<div class="section spacer"></div>

<div class="section bread">
	<div class="content">
		<div class="h-subtitle">
			<p><a href="{{ site.url }}">{{ ui_text.home }}</a> / <a href="{{ site.url }}/projects">Projects</a> / <a href="{{ page.url }}">{{ page.title }}</a></p>
		</div>
  </div>
</div>

<div class="section title">
	<div class="content">
		<h1>{{ page.title }}</h1>
    <p><em>{{ page.subtitle }}</em></p>
    {% if page.desc %}
    <p>{{ page.desc }}</p>
    {% endif %}
	</div>
</div>

{% if page._embedded.languages %}
<div class="section">
	<div class="content">
    <h2>Languages</h2>
    {% for item in page._embedded.languages %}
      {% include languages/summary.html language=item %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if page._embedded.db %}
<div class="section">
	<div class="content">
    <h2>Databases</h2>
    {% for item in page._embedded.db %}
      {% include db/summary.html db=item %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if page._embedded.os %}
<div class="section">
	<div class="content">
    <h2>Operating Systems</h2>
    {% for item in page._embedded.os %}
      {% include os/summary.html os=item %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if page._embedded.tools %}
<div class="section">
	<div class="content">
    <h2>Tools</h2>
    {% for item in page._embedded.tools %}
      {% include tools/summary.html tool=item %}
    {% endfor %}
  </div>
</div>
{% endif %}
